<div class='latest-poll__wrapper {{this.settings.plugin_outlet}}'>
    <h2>โพลล่าสุด</h1>
    <div class='latest-poll__list'>
        <div class='latest-poll__listitem'>
            <div>เลือกได้ 1อย่าง ลงทุนอะไรกันครับ</div>
            <div>MoonLight</div>
        </div>
    </div>
</div>