<div class='latest-poll__wrapper {{this.settings.plugin_outlet}}'>
    <h2>โพลล่าสุด</h2>
    <div class='latest-poll__list'>
        <div class='latest-poll__listitem'>
            <div class='latest-poll__listitem_heading'>
                <svg width="48" height="48" viewBox="0 0 24 24" fill="#8ac926" xmlns="http://www.w3.org/2000/svg">
                    <rect x="3" y="5" width="18" height="14" rx="3" fill="#fff" stroke="#8ac926" stroke-width="2"/>
                    <path d="M7 13l3 3 7-7" stroke="#8ac926" stroke-width="2" fill="none"/>
                </svg>
                <h4>ปกติแล้วชาว CONNECT เรียนรู้เรื่องลงทุนจากที่ไหน?</h4>
            </div>
        
            <div class='latest-poll__listitem_footer'>
                <div>
                    <img width="24px" height="24px" class="avatar" src="https://connect.efinancethai.com/user_avatar/connect.efinancethai.com/efincommunity/48/421_2.png" alt="eFinCommunity"/>
                    <span>eFinCommunity</span>
                </div>
                <div>10/06/25</div>
            </div>
        </div>

        <div class='latest-poll__listitem'>
            <div class='latest-poll__listitem_heading'>
                <svg width="48" height="48" viewBox="0 0 24 24" fill="#38b000" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2 21h2.6c.26 0 .48-.11.64-.29L10 15.71V5.33A1.33 1.33 0 0111.33 4a1.33 1.33 0 011.27 1.02l2.13 8.45 3.16-.41A2 2 0 0020 11V7a2 2 0 00-2-2h-9.34z"/>
                </svg>
                <h4>ในมุมของนักลงทุน คุณอยากให้ AI ช่วย 'ยกระดับ' การลงทุนในไทยด้านใดก่อน?</h4>
            </div>
            <div class='latest-poll__listitem_footer'>
                <div>10/06/25</div>
                <div>eFinCommunity</div>
            </div>
        </div>

        
        <div class='latest-poll__listitem'>
            <div class='latest-poll__listitem_heading'>
                <svg width="48" height="48" viewBox="0 0 24 24" fill="#38b000" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2 21h2.6c.26 0 .48-.11.64-.29L10 15.71V5.33A1.33 1.33 0 0111.33 4a1.33 1.33 0 011.27 1.02l2.13 8.45 3.16-.41A2 2 0 0020 11V7a2 2 0 00-2-2h-9.34z"/>
                </svg>
                <h4>พึ่งจบใหม่ ยังไม่รู้จะเริ่มลงทุนตัวไหนดี มีแนะนำไหมคับ</h4>
            </div>
            <div class='latest-poll__listitem_footer'>
                <div>09/06/25</div>
                <div>Chartch</div>
            </div>
        </div>

    </div>
</div>