<div class='latest-poll__wrapper {{this.settings.plugin_outlet}}'>
    <h2>โพลล่าสุด</h2>
    <div class='latest-poll__list'>
        <div class='latest-poll__listitem'>
            <div><h3>ปกติแล้วชาว CONNECT เรียนรู้เรื่องลงทุนจากที่ไหน?</h3></div>
            <div>
                <p><div class="lightbox-wrapper"><a class="lightbox" href="https://connect.efinancethai.com/uploads/default/original/1X/b5b666ac5618cbc8aa108c4b63122774cbfa1e5c.jpeg" data-download-href="https://connect.efinancethai.com/uploads/default/b5b666ac5618cbc8aa108c4b63122774cbfa1e5c" title="output"><img src="https://connect.efinancethai.com/uploads/default/optimized/1X/b5b666ac5618cbc8aa108c4b63122774cbfa1e5c_2_500x500.jpeg" alt="output" data-base62-sha1="pVvdj3BzDAb5qJ7O5YOQpgttufq" width="500" height="500" srcset="https://connect.efinancethai.com/uploads/default/optimized/1X/b5b666ac5618cbc8aa108c4b63122774cbfa1e5c_2_500x500.jpeg, https://connect.efinancethai.com/uploads/default/original/1X/b5b666ac5618cbc8aa108c4b63122774cbfa1e5c.jpeg 1.5x, https://connect.efinancethai.com/uploads/default/original/1X/b5b666ac5618cbc8aa108c4b63122774cbfa1e5c.jpeg 2x" data-dominant-color="414B5E"><div class="meta"><svg class="fa d-icon d-icon-far-image svg-icon" aria-hidden="true"><use href="#far-image"></use></svg><span class="filename">output</span><span class="informations">640×640 33.6 KB</span><svg class="fa d-icon d-icon-discourse-expand svg-icon" aria-hidden="true"><use href="#discourse-expand"></use></svg></div></a></div></p>
                    <p>ปกติแล้วชาว CONNECT เรียนรู้เรื่องลงทุนจากที่ไหน?</p>
                    <div class="poll" data-poll-charttype="bar" data-poll-name="poll" data-poll-public="true" data-poll-results="always" data-poll-status="open" data-poll-type="regular">
                    <div class="poll-container">
                    <ul>
                    <li data-poll-option-id="f43c1d92546f1cbb9f53f364db38207c"><img src="https://connect.efinancethai.com/images/emoji/twitter/books.png?v=14" title=":books:" class="emoji" alt=":books:" loading="lazy" width="20" height="20"> หนังสือ = ผู้ใหญ่บ้านแห่งความรู้</li>
                    <li data-poll-option-id="42438e4393e135734cd2c4b135dc36ff"><img src="https://connect.efinancethai.com/images/emoji/twitter/mobile_phone.png?v=14" title=":mobile_phone:" class="emoji" alt=":mobile_phone:" loading="lazy" width="20" height="20"> YouTube / TikTok = ครูสอนการเงินฉบับย่อ</li>
                    <li data-poll-option-id="e6d5285b212b36dd5aa1a271eb2033e3"><img src="https://connect.efinancethai.com/images/emoji/twitter/teacher.png?v=14" title=":teacher:" class="emoji" alt=":teacher:" loading="lazy" width="20" height="20"> คอร์สออนไลน์ = จ่ายแล้วต้องเรียน!</li>
                    <li data-poll-option-id="48e2083cf472dbc60849a79ac7f20804"><img src="https://connect.efinancethai.com/images/emoji/twitter/people_holding_hands.png?v=14" title=":people_holding_hands:" class="emoji" alt=":people_holding_hands:" loading="lazy" width="20" height="20"> เพื่อนในกลุ่มนี่แหละ เซียนตัวจริง</li>
                    </ul>
                    </div>
                    <div class="poll-info">
                    <div class="poll-info_counts">
                    <div class="poll-info_counts-count">
                    <span class="info-number">0</span>
                    <span class="info-label">ผู้โหวต</span>
                    </div>
                    </div>
                    </div>
                    </div>
            </div>
            <div class='latest-poll__listitem_footer'>
                <div>
                    <img src="https://connect.efinancethai.com/user_avatar/connect.efinancethai.com/efincommunity/48/421_2.png" alt="eFinCommunity"/>
                    <span>eFinCommunity</span>
                </div>
                <div>10/06/25</div>
            </div>
        </div>

        <div class='latest-poll__listitem'>
            <div><h3>ในมุมของนักลงทุน คุณอยากให้ AI ช่วย 'ยกระดับ' การลงทุนในไทยด้านใดก่อน?</h3></div>
            <div class='latest-poll__listitem_footer'>
                <div>10/06/25</div>
                <div>eFinCommunity</div>
            </div>
        </div>

        
        <div class='latest-poll__listitem'>
            <div><h3>พึ่งจบใหม่ ยังไม่รู้จะเริ่มลงทุนตัวไหนดี มีแนะนำไหมคับ</h3></div>
            <div class='latest-poll__listitem_footer'>
                <div>09/06/25</div>
                <div>Chartch</div>
            </div>
        </div>

        <div class='latest-poll__listitem'>
            <div><h3>🎯 โหวตหน่อย! ทิศทางตลาดหุ้นสัปดาห์นี้จะไปทางไหน?</h3></div>
            <div class='latest-poll__listitem_footer'>
                <div>06/06/25</div>
                <div>Chartch</div>
            </div>
        </div>

        <div class='latest-poll__listitem'>
            <div><h3>เลือกได้ 1อย่าง ลงทุนอะไรกันครับ</h3></div>
            <div class='latest-poll__listitem_footer'>
                <div>06/06/25</div>
                <div>MoonLight</div>
            </div>
        </div>

        

        
    </div>
</div>