.latest-poll__list {  
  display: flex;
  color: white;
  flex-wrap: wrap;        /* อนุญาตให้ wrap ขึ้นแถวใหม่ได้ */
  gap: 5px;    
}

.latest-poll__listitem {
    flex: 1;
    padding: 5px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;   /* ตัวอย่างมุมโค้ง */
    border: 1px solid #a1b8e6; /* ตัวอย่างเส้นขอบ */
}

.latest-poll__listitem_footer {
  display: flex;
  justify-content: space-between; /* Center horizontally */
  font-size:medium;
  color: #ddd
}